<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.immunizationmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/project_id"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmunizationManager">
        <activity android:name=".ViewImages"></activity>
        <activity android:name=".ViewVaccine" />
        <activity android:name=".RegisterVaccine" />
        <activity android:name=".ClientInformation" />
        <activity android:name=".ClientRegister" />
        <activity android:name=".Profile" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>